# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# Log files
*.log

# Model and checkpoint files
fine-tuned-ecommerce-model/
*.pkl

# Data files
data/
*.csv

# Local configuration files
*.local
*.env

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
*.swp

# Miscellaneous
*.dat
*.db
*.sqlite
